/CollectionsAndGenerics.iml
/.idea/compiler.xml
/target/classes/LinkedNode.class
/target/classes/LinkedNodeApp.class
/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_0_0.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_2_0.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_2_0.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_2_0.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_2_0.xml
/.idea/libraries/Maven__org_opentest4j_opentest4j_1_1_0.xml
/.idea/misc.xml
/.idea/modules.xml
/target/classes/MyCollection.class
/target/classes/MyLinkedList.class
/target/classes/MyList.class
/target/test-classes/TestMyLinkedList.class
/.idea/uiDesigner.xml
/.idea/vcs.xml
